
<div class="container">
  <nav class="navbar" (scroll)="onWindowScroll();">
    <div ><h3>GAUTAM<span id="thedot" style="color: blueviolet;font-size: 30px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">.</span>
      <div class="hidden">Hi, This is Gautam Kumar. A final year undergraduate student. Glad you landed here !</div>
    </h3>
    </div>

    <div class="nav-links">
      <!-- <P class="home">HOME</P> -->
      <a href="#home" class="home" ><p>HOME</p></a>
      <a href="#project" ><p>PROJECTS</p></a>
    </div>
  </nav>
</div>
