
.summary-mobile{
  display: block;
// margin-top: 80px;
position: relative;
top: 50px;
font-family:sans-serif;
  .img{
display: flex;
justify-content: center;
padding: 2px;
img{
  height: 200px;
  width: 200px;
  border: 2px solid blueviolet;
  border-radius: 500px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
  }
  .summary-details{
    text-align: center;
    padding: 10px 30px;
    #blink{
      font-size:3rem;
      font-family: 'Times New Roman', Times, serif;
        animation-name: blink;
        width:200px;
        animation-duration:0.8s;
        animation-timing-function:ease-out;
        animation-iteration-count:Infinite;

      @keyframes blink{
        0%{color:blueviolet;}
        50%{color:white;}
        100%{color:blueviolet;}
    }
  }
    h3{
      font-size: 2.5rem;
      margin: 0;
      font-weight: 700;
    }
    p{
      font-size: 1.1rem;
    }
  }
  .summary-button{
    display: flex;
justify-content: center;
    button{
      padding:10px 20px;
      margin: 0 10px;
    }
  }
}

.title{
  padding: 0 10px;
  font-size: 1.7rem;
  margin: 20px auto;
  color: blueviolet;
}
.grid-container {
  display: grid;
  grid-template-columns: auto ;
  // background-color: #2196F3;
  padding: 10px;
  // background-color: rgba(10, 1, 13, 0.967);
}
.grid-item {
  // background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
  // padding: 20px;
  // font-size: 30px;
  margin: 5px 0;
  text-align: left;
  // color: white;

  .images{

    display: flex;
    justify-content: space-between;
    p{
      font-size: 2rem;
    }
    img{
      width: 20%;
      border-radius: 500px;
      border: 2px solid blueviolet;
      padding: 3px;
    }
  }
  h3{
    margin: 10px 0;
  }
  .project-footer{
display: flex;
justify-content: space-between;
.btn{
  i{
    margin: 0 15px 0 0;
    color: blueviolet;
  }
}
  }
}
.grid-item:hover{
  border: 2px solid blueviolet;
  // border-color: blueviolet;
}
.general-btn{
  padding: 5px 7px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0 5px 0 0;
}
.stroke-btn{
  padding: 5px 7px;
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 4px;
  margin: 0 5px 0 0;
}
.prgs-btn-green{
  color: green;
  font-size: 1rem;
  i{
    font-size: 12px;

  }
}
.prgs-btn-yellow{
  color: rgb(210, 210, 33);
  font-size: 1rem;
  i{
    font-size: 12px;

  }
}
.internship{
padding: 10px;
.intership-details{
  h3{
    margin: 0;
  }
  .duration{
   color: blueviolet;
  }
}
}

  .container{
    position: relative;
    // max-width: 500px;
    // width: 100%;
    background: #fff;
    // margin: 0 15px;
    padding: 10px 10px;
    border-radius: 4px;

    .skill-box{
      width: 100%;
      margin: 0 0 25px 0;
      .title{
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin: 0;
        text-align: left;
        padding: 0;
      }
      .skill-bar{
        height: 35px;
        width: 100%;
        border-radius: 4px;
        margin-top: 6px;
        background: rgba(0,0,0,0.1);
        .skill-per{
          position: relative;
          display: block;
          height: 100%;
          // width: 50%;
          border-radius: 4px;
          background: blueviolet;
          animation: progress 0.4s ease-in-out forwards;
          opacity: 0;

          @keyframes progress {
                0%{
                    width: 0;
                    opacity: 1;
                }
                100%{
                    opacity: 1;
                }
              }
        }
        .html{
          width: 90%;
          animation-delay: 0.2s;
        }
        .css{
          width: 80%;
          animation-delay: 0.1s;
        }
       .javascript{
          width: 70%;
          animation-delay: 0.2s;
        }
        .angular{
          width: 65%;
          animation-delay: 0.3s;
        }
        .c{
          width: 90%;
          animation-delay: 0.4s;
        }
        .dsa{
          width: 85%;
          animation-delay: 0.1s;
        }
      }
    }
  }
.education{
  padding: 0 10px;
  .edu-section{
    margin-bottom: 15px;
    h3{
      margin: 5px 0;
    }
    p{
      margin: 10px 0;
      color: #aaa8a8;
    }
  }
  hr{
    background-color: grey;
    height: 0.005rem;
    text-decoration: none;
    border: none;
    margin: 0;
  }
  margin-bottom: 70px;
}
.certification{
  padding:0 10px;
  h4{
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  span{
    font-size: 1rem;
    color: blueviolet;
  }
  p{
    margin-top: 10px;
  }

  margin-bottom: 100px;
}
.email{
  padding: 0 10px;

  input{
    min-width: 94%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #f5f5f5;
    margin-top: 10px;
  }
  input:hover{
    border: 1px solid blueviolet;

  }
  textarea{
    min-width: 94%;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    font-size: 1rem;
  }
  textarea:hover{
    border: 1px solid blueviolet;

  }

  .submit{
    width: 100px;
    padding: 15px 0;
    margin-top: 15px;
    font-size: 1rem;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    color: rgb(232, 231, 231);
  }
}
.contact{
  padding: 10px;
  p{
    font-size: 18px;
    text-align: left;
  }
  .media-icon{
    display: flex;
    // max-width: 80%;
    justify-content: space-evenly;

    i{
      font-size: 40px;
      color: blueviolet;
      // border: 2px solid blueviolet;
      padding: 10px;
      border-radius: 500px;
    }
  }

}
footer{
  text-align: center;
  background-color: rgb(238, 237, 237);
  // // display: flex;
  // bottom: 0;
  justify-content: center;
  color: rgb(86, 86, 86);
  padding: 10px 0;
  backdrop-filter: blur(5px);
  p{
    margin: 0;
    padding: 0;
  }
  .copy{
    margin-top: 4px;
font-size: 0.8rem;
color: grey;
  }
  i{
    color: blueviolet;
  }
}
